<p id="notice"><%= notice %></p>

<p>
  <b>Planilha:</b>
  <%= @centro_de_custo.nome %>
</p>


<%= link_to 'Editar', edit_centro_de_custo_path(@centro_de_custo) %> |
<%= link_to 'Voltar', centro_de_custos_path %>
